.contact {
    padding: 2rem;
    background-color: #f7f9fb;
    border-radius: 8px;
    max-width: 37rem;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1024px) {
        height: 75%;
        margin-top: -4.5rem;
    }
    @media (max-width: 767.98px) {
        height: 28rem;
        margin-top: -3rem;
    }

    &__title {
        color: #010816;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;

        @media (max-width: 1024px) {
            font-size: 1.6rem;
        }

        @media (max-width: 767.98px) {
            font-size: 1.4rem;
        }
    }

    &__description {
        text-align: center;
        margin-bottom: 2rem;
        color: #010816;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-right: 2rem;
    }

    &__input,
    &__textarea {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        width: 100%;

        @media (max-width: 767.98px) {
            font-size: 0.7rem;
        }

        &:focus {
            border-color: #010816;
            outline: none;
        }
    }

    &__textarea {
        resize: vertical;
        min-height: 10rem;

        @media (max-width: 767.98px) {
            min-height: 5.3rem;
        }
        @media (max-width: 375px) {
            min-height: 4.5rem;
        }
    }

    &__button {
        padding: 1rem;
        background-color: #03183e;
        color: #f7f9fb;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-left: 2rem;

        @media (max-width: 1024px) {
            padding: 0.8rem;
            height: 80%;
        }
        @media (max-width: 767.98px) {
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 375px) {
            height: 1.5rem;
        }

        &:hover {
            background-color: #04153c;
        }
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        background-color: white;
        color: #010816;
        padding: 1.5rem;
        border-radius: 0.3rem;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

        h3 {
            @media (max-width: 767.98px) {
                font-size: 1.1rem;
            }
        }
        p {
            @media (max-width: 767.98px) {
                font-size: 0.8rem;
            }
        }

        @media (max-width: 767.98px) {
            width: 40%;
            height: fit-content;
            gap: 0.5rem;
            font-size: 1rem;
        }

        @media (max-width: 375px) {
        }
    }

    button {
        margin-top: 2rem;
        padding: 0.6rem 1rem;
        border: none;
        background-color: #04112c;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #010d23;
        }

        @media (max-width: 767.98px) {
            margin-top: 0.8rem;
            height: 1.3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 0.5rem;
        }

        @media (max-width: 375px) {
        }
    }
}
