.header {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #010816;
    z-index: 1000;
    padding: 20px 0;
    text-align: center;
    display: flex;
    gap: min(10rem, 5vw);
    justify-content: space-between;
    align-items: center;

    &-title {
        font-size: 2rem;
        font-weight: bold;
    }

    &-nav {
        display: flex;

        gap: 25px;

        .nav-link {
            font-size: 1.1rem;
            text-decoration: none;
            list-style: none;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}
