main {
    padding-left: 15%;
    padding-right: 15%;
}

#home {
    scroll-margin-top: 13.5rem;
}

#about {
    scroll-margin-top: 6rem;

    @media (max-width: 767.98px) {
        scroll-margin-top: 7rem;
    }
}

#projects {
    scroll-margin-top: 6rem;

    @media (max-width: 767.98px) {
        scroll-margin-top: 7rem;
    }
}
